.task_title
  = @task.title
.task_content
  = @task.content
.task_limit
  = @task.limit
.task_eyecatch
  = image_tag @task.eyecatch
%h1 Comment
- @comments.each do |comment|
  %div
    = comment.content

.container
  = link_to 'Add new comment', new_task_comment_path(@task)