<div class="container">
  <h1>All boards</h1>

  <% @boards.each do |board| %>
    <%= link_to board_path(board) do%>
      <div class="card">
        <div class="card_title"><%= board.title %></div>
        <div class="card_content"><%= board.content %></div>
        <div class="card_icon">
          <%= image_tag 'Oval.png'%>
        </div>
        <p>kazuki0825</p>
        <p><%= board.display_created_at %></p>
        <div class="card_detail">
          <%= image_tag 'Combined Shape'%>
        </div>
      </div>
    <% end %>
  <% end %>

  <div class="add_new_bord">
    <%= link_to new_board_path do %>
    <p>+Add new board</p>
    <% end %>
  </div>
</div>