.card
  .card_title= @board.title
  .card_content= @board.content
  .card_icon
    = image_tag 'Oval.png'
  %p= @board.author_name
  %p= @board.display_created_at
  - if user_signed_in? && current_user.has_written?(@board)
    .card_detail
      .dropdown
        = image_tag 'Combined Shape', class:"dropbtn"
        .dropdown-content
          = link_to '編集',edit_board_path(@board)
          = link_to '削除', board_path(@board), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？' }

  - @tasks.each do |task|
    = render 'commons/task', task: task 


.container  
  = link_to '+Add new card', new_board_task_path(@board)