<div class="card">
  <div class="card_title"><%= @board.title %></div>
  <div class="card_content"><%= @board.content %></div>
  <div class="card_icon">
    <%= image_tag 'Oval.png'%>
  </div>
  <p>kazuki0825</p>
  <p><%= @board.display_created_at %></p>
  <div class="card_detail">
    <div class="dropdown">
      <%= image_tag 'Combined Shape', class:"dropbtn" %>
      <div class="dropdown-content">
        <%= link_to '編集',edit_board_path(@board) %>
        <%= link_to '削除', board_path(@board), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？' } %>
      </div>
    </div>
  </div>
</div>