<div class="card">
  <div class="card_title"><%= @board.title %></div>
  <div class="card_content"><%= @board.content %></div>
  <div class="card_icon">
    <%= image_tag 'Oval.png'%>
  </div>
  <p>kazuki0825</p>
  <p>2020/4/1</p>
  <div class="card_detail">
    <div class="dropdown">
      <%= image_tag 'Combined Shape', class:"dropbtn" %>
      <div class="dropdown-content">
        <%= link_to '編集',edit_board_path(@board) %>
      </div>
    </div>
  </div>
</div>